:root {
    --main-color: #198754;
    --green-color: #00a862;
    --white-color: #f5f5f5;
}

body {
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.logo {
    border-radius: 10px;
    border: 1px solid rgba(178, 236, 178, 0.753);
}

.section-title h2 {
    color: var(--green-color);
}

.capitalize {
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.logout-button {
    background-color: white;
    border: none;
    width: 100%;
}
/* index css */
.shape-index {
    background-color: var(--green-color);
    width: 25px;
    height: 25px;
    position: absolute;
    top: 255px;
    left: 145px;
    rotate: 30deg;
    z-index: -1;
    border-radius: 10px;
    animation: jump7456 1s linear infinite;
}

.spinner {
    --size-of-spinner: 50px;
    --spinner-border-width: 4px;
    --spinner-color: #08c18a;
    --circle-color: #8bc34a24;
    --speed-of-animation: 2s;
    --scale: 1.3;
    z-index: -1;
    width: var(--size-of-spinner);
    height: var(--size-of-spinner);
    background: var(--circle-color);
    border-radius: 50%;
    position: absolute;
    top: 155px;
    right: 520px;
}

.spinner::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    inset: 0;
    border: var(--spinner-border-width) solid var(--spinner-color);
    border-left-color: transparent;
    border-right-color: transparent;
    animation: spinny var(--speed-of-animation) linear infinite;
}

@keyframes spinny {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(45deg) scale(var(--scale));
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}
/* Akhir index css */

/* fitur css */

.cards-fitur {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.cards-fitur .card {
    background-color: var(--green-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
    max-width: 300px;
    min-height: 160px;
}

.cards-fitur .card:hover {
    transform: scale(1.1, 1.1);
}

.cards-fitur:hover > .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
}

/* Akhir fitur css */

/* footer index css */
/* waves */
.ocean {
    height: 80px; /* change the height of the waves here */
    width: 100%;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-top: 70px;
}

.wave {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23198754' fill-opacity='1' d='M0,288L80,256C160,224,320,160,480,117.3C640,75,800,53,960,85.3C1120,117,1280,203,1360,245.3L1440,288L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
    position: absolute;
    width: 200%;
    height: 100%;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
}

.wave:nth-of-type(2) {
    bottom: 0;
    animation: wave 18s linear reverse infinite;
    opacity: 0.5;
}

.wave:nth-of-type(3) {
    bottom: 0;
    animation: wave 20s -1s linear infinite;
    opacity: 0.5;
}

.footer {
    margin-top: 150px;
}

@keyframes wave {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(-50%);
    }
}
/* Akhir footer index css */
.montserrat {
    font-family: "Montserrat", sans-serif;
}

.lilitan {
    font-family: "Lilita One", cursive;
}

.oswald {
    font-family: "Oswald", sans-serif;
}

.sora {
    font-family: "Sora", sans-serif;
}

/* login css */

.bg-section-login {
    background-color: var(--main-color);
}

.shape-1 {
    background-color: #75eb30;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 100px;
    right: 150px;
    rotate: 20deg;
    border-radius: 10px;
    animation: jump7456 1s linear infinite;
}

.svg-frame {
    position: absolute;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
}

.svg-frame svg {
    position: absolute;
    transition: 0.5s;
    z-index: calc(1 - (0.2 * var(--j)));
    transform-origin: center;
    width: 344px;
    height: 344px;
    fill: none;
}

.svg-frame:hover svg {
    transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i)))
        translateY(calc(-35px * var(--i)));
}

.svg-frame svg #center {
    transition: 0.5s;
    transform-origin: center;
}

.svg-frame:hover svg #center {
    transform: rotate(-30deg) translateX(45px) translateY(-3px);
}

#out2 {
    animation: rotate16 7s ease-in-out infinite alternate;
    transform-origin: center;
}

#out3 {
    animation: rotate16 3s ease-in-out infinite alternate;
    transform-origin: center;
    stroke: #ff0;
}

#inner3,
#inner1 {
    animation: rotate16 4s ease-in-out infinite alternate;
    transform-origin: center;
}

#center1 {
    fill: #ff0;
    animation: rotate16 2s ease-in-out infinite alternate;
    transform-origin: center;
}

@keyframes rotate16 {
    to {
        transform: rotate(360deg);
    }
}

.login-button {
    padding: 0.8em 1.8em;
    border: 2px solid #09532b;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: 0.3s;
    z-index: 1;
    font-family: monospace;
    color: #09532b;
}

.login-button::before {
    content: "";
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: #09532b;
    transition: 0.5s ease;
    display: block;
    z-index: -1;
}

.login-button:hover::before {
    width: 105%;
}

.login-button:hover {
    color: #111;
}

@keyframes jump7456 {
    15% {
        border-bottom-right-radius: 3px;
    }

    25% {
        transform: translateY(9px) rotate(22.5deg);
    }

    50% {
        transform: translateY(18px) scale(1, 0.9) rotate(45deg);
        border-bottom-right-radius: 40px;
    }

    75% {
        transform: translateY(9px) rotate(67.5deg);
    }

    100% {
        transform: translateY(0) rotate(90deg);
    }
}

/* akhir login css */

/* Dashboard css */

.jumlah-data-1 {
    width: 280px;
    height: 150px;
    background: rgb(197, 54, 18);
    border-radius: 15px;
    display: flex;
    color: white;
    justify-content: center;
    position: relative;
    flex-direction: column;
    background: linear-gradient(45deg, rgb(66, 39, 39), rgb(160, 56, 56));
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.jumlah-data-1:hover {
    box-shadow: rgb(189, 113, 113) 1px 3px 5px, rgb(192, 131, 131) -1px 0px 5px;
}
.jumlah-data-2 {
    width: 280px;
    height: 150px;
    background: rgb(197, 125, 18);
    border-radius: 15px;
    display: flex;
    color: white;
    justify-content: center;
    position: relative;
    flex-direction: column;
    background: linear-gradient(45deg, rgb(66, 59, 39), rgb(241, 170, 15));
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.jumlah-data-2:hover {
    box-shadow: rgb(189, 175, 113) 1px 3px 5px, rgb(192, 181, 131) -1px 0px 5px;
}
.jumlah-data-3 {
    width: 280px;
    height: 150px;
    background: rgb(179, 197, 18);
    border-radius: 15px;
    display: flex;
    color: white;
    justify-content: center;
    position: relative;
    flex-direction: column;
    background: linear-gradient(45deg, rgb(59, 66, 39), rgb(153, 160, 56));
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.jumlah-data-3:hover {
    box-shadow: rgb(175, 189, 113) 1px 3px 5px, rgb(174, 192, 131) -1px 0px 5px;
}

.jumlah-title {
    font-size: 20px;
    margin-top: 0px;
    margin-left: 15px;
    font-weight: 600;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    transition: 0.5s;
}

.jumlah {
    font-size: 18px;
    margin-top: 0px;
    margin-left: 15px;
    font-weight: 500;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    transition: 0.5s;
}

.icon-jumlah {
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 15px;
    transition: all 0.3s ease-in-out;
}

.jumlah-data:hover > .icon-jumlah {
    font-size: 30px;
}

.jumlah-data:hover .jumlah-title {
    font-size: 20px;
}
.jumlah-data:hover .jumlah {
    font-size: 20px;
}

/* Akhir Dashboard css */

/* detail css */
.foto-user {
    border: 2px solid rgb(237, 237, 245);
}

.input-group-prepend div {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* Akhir detail css */

/* Untuk Card Rt */
.person {
    width: 190px;
    height: 254px;
    background: #efefef;
    border-radius: 15px;
    box-shadow: 1px 5px 30px 0px #100a886b;
    overflow: hidden;
}

.img-rt {
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 3px solid #6b64f3;
}

.person .card-border-top {
    position: absolute;
    width: 60%;
    height: 3%;
    background: #6b64f3;
    border-radius: 0px 0px 15px 15px;
}

.person .btn-hapus {
    position: absolute;
    right: -20px;
    top: 52px;
    background-color: red;
    width: 30%;
    height: 30px;
    transition: 0.2s;
}

.person .btn-hapus i {
    position: absolute;
    right: 30px;
}

.person .btn-hapus:hover {
    position: absolute;
    right: -16px;
    top: 52px;
    background-color: rgb(168, 22, 22);
}

.person .btn-warga {
    position: absolute;
    right: -20px;
    top: 16px;
    background-color: green;
    width: 30%;
    height: 30px;
    transition: 0.2s;
}

.person .btn-warga i {
    position: absolute;
    right: 30px;
}

.person .btn-warga:hover {
    position: absolute;
    right: -16px;
    top: 16px;
    background-color: rgb(11, 112, 11);
}
.person .btn-detail {
    position: absolute;
    right: -20px;
    top: -22px;
    background-color: skyblue;
    width: 30%;
    height: 30px;
    transition: 0.2s;
}

.person .btn-detail i {
    position: absolute;
    right: 30px;
}

.person .btn-detail:hover {
    position: absolute;
    right: -16px;
    top: -22px;
    background-color: skyblue;
}

.person span {
    font-weight: 600;
    color: rgb(84, 84, 84);
    text-align: center;
    display: block;
    padding-top: 10px;
    font-size: 16px;
}

.person .job {
    font-weight: 400;
    color: rgb(84, 84, 84);
    display: block;
    text-align: center;
    padding-top: 3px;
    font-size: 12px;
}

.person .img {
    width: 70px;
    height: 80px;
    background: #6b64f3;
    border-radius: 15px;
    margin: auto;
    margin-top: 25px;
}

.person a {
    padding: 8px 25px;
    display: block;
    margin: auto;
    border-radius: 8px;
    border: none;
    margin-top: 30px;
    background: #6b64f3;
    color: white;
    font-weight: 600;
    margin-bottom: 10px;
}

.person a:hover {
    background: #534bf3;
}

/* foto user */

.import-button {
    position: absolute;
    left: 120px;
}

.import-button-rt {
    position: absolute;
    top: 215px;
    left: 216px;
}

.foto-user {
    aspect-ratio: 1/1;
}
